<ion-view view-title="Discover">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-upload-outline"></button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false" class="page-discover padding">
		<td-cards>
      <td-card ng-repeat="item in merchandising.featureds" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
        <div class="tinder">
          <div class="img-wrapper">
            <img class="full-iddmage" ng-src="{{item.product.detailImage}}" />
          </div>
          <div class="row text-center">
            <div class="col"><button class="button button-icon icon ion-close-circled"></button></div>
            <div class="col"><button class="button button-icon icon ion-checkmark-circled"></button></div>
          </div>
        </div>
      </td-card>
    </td-cards>
  </ion-content>
</ion-view>