<ion-view view-title="Discover">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-upload-outline"></button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false" class="page-discover">
		<td-cards>
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
        <div class="card">
          <div class="card-body">
            <div class="image">
              <div class="no-text"><div class="no-box boxed">Nope</div></div>
              <div class="yes-text"><div class="yes-box boxed">Save</div></div>
              <img ng-src="{{card.detailImage.replace('190w','480w') | gfProtocol}}">
            </div>
            <div class="card-footer">
              Gamefly User Rating: {{card.userRating}} / 10
            </div>
          </div>
        </div>
      </td-card>
    </td-cards>
  </ion-content>
  <!--<ion-footer-bar align-title="left" class="bar-dark">
    <button class="button button-icon icon ion-close-circled"></button>
    <h1 class="title"></h1>
    <button class="button button-icon icon ion-checkmark-circled"></button>
  </ion-footer-bar>-->
</ion-view>