<ion-view view-title="Games">
  <ion-content>
    <ul rn-carousel class="hero-unit">
  		<li ng-repeat="hero in merchandising.heroes">
    		<div class="layer" ng-style="{'background-image':'url({{hero.viewports[3].image.rendered.url}})'}"></div>
  		</li>
		</ul>
		<div class="list">
			<div class="item item-divider">
    		Featured
  		</div>
  		<ion-scroll direction="x">
  			<div class="row row-bottom">
	  			<div class="col col-thumbnail" ng-repeat="featured in merchandising.featureds" ui-sref="app.product({productId:featured.product.id,product:featured.product})">
	  				<img class="full-image" ng-src="{{featured.product.thumbnailImage}}" />
	  			</div>
	  		</div>
  		</ion-scroll>
  		<div class="item item-divider">
    		Most Popular
        <a class="pull-right">View All</a>
  		</div>
  		<ion-scroll direction="x">
  			<div class="row row-bottom">
	  			<div class="col col-thumbnail" ng-repeat="item in mostpopular.items" ui-sref="app.product({productId:item.id,product:item})">
	  				<img class="full-image" ng-src="{{item.thumbnailImage}}" />
	  			</div>
	  		</div>
  		</ion-scroll>
      <div class="item item-divider">
        New Releases
        <a class="pull-right">View All</a>
      </div>
      <ion-scroll direction="x">
        <div class="row row-bottom">
          <div class="col col-thumbnail" ng-repeat="item in newreleases.items" ui-sref="app.product({productId:item.id,product:item})">
            <img class="full-image" ng-src="{{item.thumbnailImage}}" />
          </div>
        </div>
      </ion-scroll>
      <div class="item item-divider">
        Coming Soon
        <a class="pull-right">View All</a>
      </div>
      <ion-scroll direction="x">
        <div class="row row-bottom">
          <div class="col col-thumbnail" ng-repeat="item in comingsoon.items" ui-sref="app.product({productId:item.id,product:item})">
            <img class="full-image" ng-src="{{item.thumbnailImage}}" />
          </div>
        </div>
      </ion-scroll>
      <div class="item item-divider">
        Used Bestsellers
        <a class="pull-right">View All</a>
      </div>
      <ion-scroll direction="x">
        <div class="row row-bottom">
          <div class="col col-thumbnail" ng-repeat="item in usedbestsellers.items" ui-sref="app.product({productId:item.id,product:item})">
            <img class="full-image" ng-src="{{item.thumbnailImage}}" />
          </div>
        </div>
      </ion-scroll>
      <div class="item item-divider">
        New Bestsellers
        <a class="pull-right">View All</a>
      </div>
      <ion-scroll direction="x">
        <div class="row row-bottom">
          <div class="col col-thumbnail" ng-repeat="item in newbestsellers.items" ui-sref="app.product({productId:item.id,product:item})">
            <img class="full-image" ng-src="{{item.thumbnailImage}}" />
          </div>
        </div>
      </ion-scroll>
  	</div>
  </ion-content>
</ion-view>
