<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="app.filter({vertical:vertical,platform:platform.id})">Filter</button>
  </ion-nav-buttons>
  <ion-content>
    <ul class="list">
    	<li class="item item-thumbnail-left item-button-right" ng-repeat="item in items">
    		<img ng-src="{{item.thumbnailImage}}">
      	<h2>{{item.title}}</h2>
      	<p>{{item.platformId | gfPlatform}}</p>
      	<p><gf-rating rate="item.userRating/2" max="5"></gf-rating></p>
      	<button class="button button-royal">
      		<i class="icon ion-forward"></i>
      	</button>
    	</li>
    </ul>
    <ion-infinite-scroll
    	ng-if="!isLast"
	    on-infinite="loadMore()"
	    distance="10%">
	  </ion-infinite-scroll>
  </ion-content>
</ion-view>