<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios7-search">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title" ng-if="!account">GameFly</h1>
      <h1 class="title" ng-if="account">Hi, {{account.firstName}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item item-icon-left" ng-if="account" menu-close ui-sref="app.queue">
          <i class="icon ion-grid"></i>
          Queue
        </div>

        <div class="item item-icon-left">
          <i class="icon ion-bag"></i>
          Cart
          <span class="badge badge-assertive">{{cartItemsCount}}</span>
        </div>

        <div ng-repeat="vertical in verticals">
          <div class="item item-stable item-icon-left" ng-click="toggleVertical(vertical)" ng-class="{active: isVerticalShown(vertical)}">
            <i class="icon" ng-class="isVerticalShown(vertical) ? 'ion-ios7-arrow-down' : 'ion-ios7-arrow-right'"></i>
            {{vertical.name}}
          </div>
          <a class="item item-accordion item-icon-left item-icon-right" ng-repeat="platform in vertical.platforms" ng-show="isVerticalShown(vertical)" nav-clear menu-close ng-href="{{platform.url}}">
            <i class="icon"></i>
            {{platform.name}}
            <i class="icon ion-ios7-arrow-forward"></i>
          </a>
        </div>

        <div class="item">
          <button class="button button-block button-royal" menu-close ng-click="showLoginModal()" ng-if="!account">
            Login
          </button>
          <button class="button button-block button-positive" menu-close ng-click="logout()" ng-if="account">
            Logout
          </button>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
