<ion-view view-title="{{platform.value || 'Movies'}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showSystem()">Systems</button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <gf-hero heroes="merchandising.heroes"></gf-hero>
		<div class="list">
      <div ng-if="merchandising.featureds.length">
  			<div class="item item-divider">
      		Featured
          <a class="pull-right" ng-click="seeAll('featured', merchandising.featureds)">See All &gt;</a>
    		</div>
    		<ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="featured in merchandising.featureds">
              <gf-thumbnail product="featured.product"></gf-thumbnail>
            </div>
          </div>
    		</ion-scroll>
      </div>
      <div ng-if="mostpopular.items.length">
    		<div class="item item-divider">
      		Most Popular
          <a class="pull-right" ng-click="seeAll('mostpopular', mostpopular)">See All &gt;</a>
    		</div>
    		<ion-scroll direction="x">
    			<div class="row row-bottom">
  	  			<div class="col col-thumbnail" ng-repeat="item in mostpopular.items">
              <gf-thumbnail product="item"></gf-thumbnail>
  	  			</div>
  	  		</div>
    		</ion-scroll>
      </div>
      <div ng-if="newreleases.items.length">
        <div class="item item-divider">
          New Releases
          <a class="pull-right" ng-click="seeAll('newreleases', newreleases)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in newreleases.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div ng-if="comingsoon.items.length">
        <div class="item item-divider">
          Coming Soon
          <a class="pull-right" ng-click="seeAll('comingsoon', comingsoon)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in comingsoon.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div ng-if="usedbestsellers.items.length">
        <div class="item item-divider">
          Used Bestsellers
          <a class="pull-right" ng-click="seeAll('usedbestsellers', usedbestsellers)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in usedbestsellers.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
  	</div>
  </ion-content>
</ion-view>
