<ion-view view-title="{{product.title}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-upload-outline"></button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <!-- product hero -->
    <gf-hero-product hero="hero" product="product"></gf-hero-product>
    <!-- product content -->
    <div class="main-container">
      <!-- tabs -->
      <ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
        <ion-tab title="Details" on-select="onTabSelected('details')">
        </ion-tab>
        <ion-tab title="Reviews" on-select="onTabSelected('reviews')">
        </ion-tab>
        <ion-tab title="Related" on-select="onTabSelected('related')">
        </ion-tab>
      </ion-tabs>
      <!-- contents -->
      <div class="main-content">
        <!-- tab details -->
        <div class="list" ng-show="isDetails">
          <div ng-if="images.items.length">
            <div class="item item-divider">
              Images ({{images.totalItems}})
            </div>
            <ion-scroll direction="x">
              <div class="row row-bottom">
                <div class="col col-image" ng-click="openImageSlider($index)" ng-repeat="image in images.items">
                  <img class="full-image" ng-src="{{image.item.sources[3].url}}" />
                </div>
              </div>
            </ion-scroll>
          </div>
          <div ng-if="videos.items.length">
            <div class="item item-divider">
              Videos ({{videos.totalItems}})
            </div>
            <ion-scroll direction="x">
              <div class="row row-bottom">
                <div class="col col-video" ng-click="openVideoPlayer($index)" ng-repeat="video in videos.items">
                  <img class="full-image" ng-src="{{video.item.previewUrl}}" />
                  <span class="duration">{{video.item.duration | gfDuration}}</span>
                  <span class="icon ion-play"></span>
                </div>
              </div>
            </ion-scroll>
          </div>
          <div class="item" ng-if="product.description">
            <gf-collapsible-panel title="Description" content="product.description"></gf-collapsible-panel>
          </div>
          <div class="item">
            <h2>Information</h2>
            <dl class="dl-horizontal">
              <dt>Release Date</dt>
              <dd>{{product.releaseDate.date | date}}</dd>
              <dt>Publisher</dt>
              <dd>{{product.publisher}}</dd>
              <dt>ESRB Rating</dt>
              <dd>{{product.contentRating.descriptors | gfDescriptor}}</dd>
            </dl>
          </div>
          <div class="item" ng-if="product.techSpecs.length">
            <h2>Specs &amp; Requirements</h2>
            <dl class="dl-horizontal">
              <dt ng-repeat-start="spec in product.techSpecs">{{spec.name}}</dt>
              <dd ng-repeat-end>{{spec.value}}</dd>
            </dl>
          </div>
        </div>
        <!-- tab reviews -->
        <div class="padding" ng-show="isReviews">
          <h2>User Ratins</h2>
          <div class="row">
            <div class="rating-score">
              <div>{{product.averageUserRating}}</div>
              <div class="count">({{product.userRatingCount}})</div>
            </div>
            <div class="rating-list col">
              <div class="rating-item" ng-repeat="rating in product.ratingIndexSummary.slice().reverse()">
                <label>{{rating.startRating}} - {{rating.endRating}}</label>
                <div class="progress">
                  <div class="progress-bar" ng-style="{ width: rating.totalCount/product.userRatingCount*100 + '%'}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="button button-clear button-royal">Write a Review</button>
            </div>
            <div class="col text-center">
              <button class="button button-clear button-royal">Rate</button>
            </div>
          </div>
          <ul class="list">
            <li class="item item-icon-right" ng-repeat="review in reviews.items">
              <h2>{{review.reviewTitle}}</h2>
              <h3>{{review.userRatingScore}}/10 by {{review.reviewerName}} - {{review.dateCreated | date}}</h3>
              <p class="collapsed" ng-bind-html="review.reviewBody"></p>
              <i class="icon ion-ios-arrow-right"></i>
            </li>
          </ul>
        </div>
        <!-- tab related -->
        <div class="list" ng-show="isRelated">
          <div ng-if="recommendations.length">
            <div class="item item-divider">Users Also Played</div>
            <div class="row row-bottom flex-wrap">
              <div class="col col-33" ng-repeat="recommendation in recommendations" ui-sref="app.product({productId:recommendation.id,product:recommendation})">
                <img class="full-image" ng-src="{{recommendation.thumbnailImage | gfProtocol}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-dark">
    <div class="buttons">
      <gf-button-rent product="product"></gf-button-rent>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <gf-button-buy product="product"></gf-button-buy>
    </div>
  </ion-footer-bar>
</ion-view>
