<ion-view view-title="{{platform.value + ' Store'}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showSystem()">Systems</button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <gf-hero heroes="merchandising.heroes"></gf-hero>
		<div class="list">
      <div ng-if="merchandising.featureds.length">
  			<div class="item item-divider">
      		Featured
          <a class="pull-right" ng-click="seeAll('featured', merchandising.featureds)">See All &gt;</a>
    		</div>
    		<ion-scroll direction="x">
    			<div class="row row-bottom">
  	  			<div class="col col-thumbnail" ng-repeat="featured in merchandising.featureds">
  	  				<gf-thumbnail product="featured.product"></gf-thumbnail>
  	  			</div>
  	  		</div>
    		</ion-scroll>
      </div>
      <div ng-if="usedbestsellers.items.length">
        <div class="item item-divider">
          Used Bestsellers
          <a class="pull-right" ng-click="seeAll('usedbestsellers', usedbestsellers)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in usedbestsellers.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div ng-if="newbestsellers.items.length">
        <div class="item item-divider">
          New Bestsellers
          <a class="pull-right" ng-click="seeAll('newbestsellers', newbestsellers)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in newbestsellers.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div ng-if="preorders.items.length">
        <div class="item item-divider">
          Pre-Orders
          <a class="pull-right" ng-click="seeAll('preorders', preorders)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in preorders.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div ng-if="freeshippings.items.length">
        <div class="item item-divider">
          Free Shipping
          <a class="pull-right" ng-click="seeAll('freeshippings', freeshippings)">See All &gt;</a>
        </div>
        <ion-scroll direction="x">
          <div class="row row-bottom">
            <div class="col col-thumbnail" ng-repeat="item in freeshippings.items">
              <gf-thumbnail product="item"></gf-thumbnail>
            </div>
          </div>
        </ion-scroll>
      </div>
  	</div>
  </ion-content>
</ion-view>
