.hero-unit {
	position: relative;
	height: 200px;

	.layer {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-color: #000;

		&.opacity {
			opacity: .5;
		}
	}

	.info {
		position: absolute;

		h1 {
			font-size: 18px;
		}
	}
}
