.dl-horizontal {
  margin-bottom: 0;
  font-size: 14px;

  dt {
    float: left;
    width: 100px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
  }

  dd {
    margin-left: 120px;
    white-space: normal;
  }
}