.page-discover {
	
	td-card {
		position: absolute;
	  	left: 50%;
	  	margin-left: -150px;
	  	width: 300px;
	  	text-align: center;

	  	.image {
	  		height: 320px;
	  	}

	  	.card-footer {
	  		height: 40px;
	  		line-height: 40px;
	  	}
	}
}