.main-container {
	position: relative;

	.tabs {
		position: relative;
		top: 0;
	}

	.main-content {
		position: relative;

		.rating-score {
			position: relative;
			width: 80px;
			height: 80px;
			line-height: 80px;
			background-color: $royal;
			color: #fff;
			font-size: 30px;
			text-align: center;

			.count {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 20px;
				font-size: 12px;
			}
		}

		.rating-list {
			padding: 0 5px;

			label {
				position: absolute;
				right: 10px;
				line-height: 10px;
				font-size: 8px;
			}

			.progress {
				height: 10px;
				background-color: #f5f5f5;
				margin: 5px;
			}

			.progress-bar {
				float: left;
			  	width: 0%;
			  	height: 100%;
			  	background-color: $royal;
			}
		}

		.rating-item {
			position: relative;
		}
	}
}