<ion-modal-view class="image-slider" ng-controller="ImageSliderController">
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
	  <ion-slide>
	    <div class="box blue">
	    	<img class="fullscreen-image" src="https://cms.gameflycdn.com/content/screenshot/320w/4277997.jpg">
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box blue">
	    	<img class="fullscreen-image" src="https://cms.gameflycdn.com/content/screenshot/320w/4277997.jpg">
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box blue">
	    	<img class="fullscreen-image" src="https://cms.gameflycdn.com/content/screenshot/320w/4277997.jpg">
	    </div>
	  </ion-slide>
	</ion-slide-box>
</ion-modal-view>