<ion-modal-view class="image-slider" ng-controller="ImageSliderController">
	<ion-header-bar class="bar-dark">
    <h1 class="title">{{imageIndex + 1}} / {{images.totalItems}}</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty" ng-click="close()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" has-bouncing="false">
	  <ion-slide-box show-pager="false" on-slide-changed="onSlideChanged($index)">
		  <ion-slide ng-repeat="image in images.items">
		    <img class="fullscreen-image" ng-src="{{image.item.sources[1].url}}">
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-modal-view>