<ion-modal-view ng-controller="systemController">
  <ion-header-bar>
    <h1 class="title">Systems</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-ios-close-empty" ng-click="close()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item item-icon-right" ng-click="updateSystem()">
        All Systems
        <i class="icon" ng-class="{'ion-checkmark': !platform}"></i>
      </a>
      <a class="item item-icon-right" ng-repeat="system in systems" ng-click="updateSystem(system)">
        {{system.value}}
        <i class="icon" ng-class="{'ion-checkmark': system.value === platform.value}"></i>
      </a>
  </div>
  </ion-content>
</ion-modal-view>
